/* ============================================ LoL (pag) ================================================== */

/*------------------- Configuracion del background ------------------*/
body
{
    background-image: url("../../assets/games/league-of-legends/braum.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    width: 100%;
    max-width: 100%;
    margin-right: 0%; 
}

#contenedor-de-tabla
{
    text-align: center;
}

#titulo-lol
{
    font-size: 22px;
    background-color: black;
    opacity: 80%;
    text-align: center;
    border-radius: 18px;
    margin-top: 2rem;
    color: white;
    padding: 0.5rem;
}

#mensaje-esperando
{
    font-size: 22px;
    background-color: black;
    opacity: 80%;
    text-align: center;
    border-radius: 18px;
    margin-top: 2rem;
    color: white;
    padding: 0.5rem;
}

#tabla-lol
{
    width: 100%;
    opacity: 80%;
    background-color: black;
    color: whitesmoke;
    border-radius: 18px;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.fila-data-jugador:hover
{
    opacity: 100%;
    background-color: rgb(36, 35, 35);
    border: 1px solid white;
}

tr
{
    height: 3rem;
}

#fila-header
{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid white;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.foto-rank
{
    width: 50px;
    height: 50px; 
}

.celda-wins
{
    color: green;
}

.celda-loses
{
    color:red
}

a
{
    text-decoration: none;
}

/* ---------------- Responsiveness de la tabla ---------------- */
@media (max-width: 1000px)
{
    .fila-header-opgg, .celda-opgg
    {
        display: none;
    }
}

@media (max-width: 775px)
{
    .fila-header-league, .celda-league
    {
        display: none;
    }
}

@media (max-width: 500px)
{
    .fila-header-points, .celda-points, .fila-header-position, .celda-position
    {
        display: none;
    }
}

@media (max-width: 400px)
{
    .fila-header-rank, .celda-rank
    {
        display: none;
    }
}

/* @media (max-width: 300px)
{
    .fila-header-kda, .celda-kda
    {
        display: none;
    }
} */

/* ----------------------Animaciones------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
0% {
    letter-spacing: -0.5em;
    opacity: 0;
}
40% {
    opacity: 0.6;
}
100% {
    opacity: 1;
}
}


/**
 * ----------------------------------------
 * animation flip-in-ver-left
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
              transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
              transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 80%;
    }
  }
  