/* ============================================ LoL (pag) ================================================== */

/*----------------- Implementacion de fuentes ----------------------*/
@font-face 
{
    font-family: questrial;
    src: url(./assets/fonts/Questrial/Questrial-Regular.ttf);
}

/*--------- Configuracion del cursor y estilado general ------------*/
*
{
    margin: 0;
    padding: 0;
    font-family: 'questrial';
    /*cursor: url("./assets/cursores/cursor1.png"),auto; */
}

/*------------------- Configuracion del background ------------------*/
body
{
    background-image: url("./assets/league-of-legends/braum.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    width: 100%;
    max-width: 100%;
    margin-right: 0%; 
}

.swal-text 
{
  text-align: center;
}

.like-img
{
  background-image: url('./assets/like.png');
}

/*------------------- Header ------------------*/
#header
{
    font-size: 20px;
    background-color: #010a13;
    color: white;
    text-align: center;
    opacity: 85%;
}

#opcion1, #opcion2, #opcion3
{
    color: white;
    display: inline-block;
    margin-left: 18vw;
    padding-bottom: 0px;
    margin-bottom: 4px;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.separador-lineal-header
{
    border: 1px solid white;
}

#contenedor-de-tabla
{
    text-align: center;
}

#titulo-lol
{
    font-size: 22px;
    background-color: black;
    opacity: 80%;
    text-align: center;
    border-radius: 18px;
    margin-top: 2rem;
    color: white;
    padding: 0.5rem;
}

#mensaje-esperando
{
    font-size: 22px;
    background-color: black;
    opacity: 80%;
    text-align: center;
    border-radius: 18px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    padding: 0.5rem;
}

#tabla-lol
{
    width: 100%;
    opacity: 80%;
    background-color: black;
    color: whitesmoke;
    border-radius: 18px;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.fila-data-jugador:hover
{
    opacity: 100%;
    background-color: rgb(36, 35, 35);
    /* border: 1px solid white; */
}

tr
{
    height: 3.5rem;
}

#fila-header
{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid white;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.foto-rank
{
    width: 50px;
    height: 50px; 
}

.celda-wins
{
    color: green;
}

.celda-loses
{
    color:red
}

a
{
    color: whitesmoke;
    text-decoration: none;
}

/* ---------------- Responsiveness de la tabla ---------------- */
@media (max-width: 1000px)
{
    .fila-header-opgg, .celda-opgg
    {
        display: none;
    }
}

@media (max-width: 775px)
{
    .fila-header-league, .celda-league
    {
        display: none;
    }
}

@media (max-width: 500px)
{
    .fila-header-points, .celda-points, .fila-header-position, .celda-position
    {
        display: none;
    }
}

@media (max-width: 400px)
{
    .fila-header-rank, .celda-rank
    {
        display: none;
    }
}

/* ----------------------Animaciones------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
0% {
    letter-spacing: -0.5em;
    opacity: 0;
}
40% {
    opacity: 0.6;
}
100% {
    opacity: 1;
}
}

/**
 * ----------------------------------------
 * animation flip-in-ver-left
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
              transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
              transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 80%;
    }
  }
  
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  /**
 * ----------------------------------------
 * animation tracking-out-contract
 * ----------------------------------------
 */
  @-webkit-keyframes tracking-out-contract {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }
  @keyframes tracking-out-contract {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }
  